ul {
    list-style-type: none;
    padding: 0;
    border-radius: 5px;
}

/* list items styles */

li.checked {
    background-color: #e2e2e2 !important;
}

li:nth-child(2n) {
    background-color: #add8e6;
}

li {
    background-color: #a5ccda;
}

/* li span::after {
    content: url('/assets/icons/cross_16.png');
    margin-left: 2rem;
    vertical-align: middle;
} */